
<div data-modal data-grid="row center" id="aviso">
    <div class="wrapper" data-modal-content>
        <h3>Aviso</h3>
        <p>
            A nossa clínica de alergia estará fechada entre 24 de dezembro e 3 de janeiro para algumas melhorias.
            Mas o atendimento de consultas de urgências e eletivas de alergia e imunologia será mantido conforme
            condições pré-determinadas a partir do telefone <a href="tel:+5513974080282">(13) 974080282</a>.
            Os horários serão combinados com uma central de agendamento e os maiores detalhes serão passados
            conforme o contato. As consultas serão presenciais ou por plataforma de telemedicina.
        </p>
        <header data-grid="end">
            <a href="#X" data-cell="shrink">Entendi</a>
        </header>
    </div>
</div>

<script>
    location.hash = 'aviso';
</script>
