---
layout: default
---

<section class="page-content">

  <header class="wrapper post-header">
    <h1 class="post-title"><small>Blog /</small> {{ page.title }}</h1>
  </header>

  <div class="post-content">

    {{ content }}

  </div>


  <div class="wrapper">
    <ul class="post-list" data-grid="cols-2 spacing">
      {% for post in site.categories[page.title] %}
        <li data-cell>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <small class="post-meta">{{ post.date | date: "%-d/%m/%Y" }}</small>
          {% if post.excerpt %}
            <p>
              {{ post.excerpt | strip_html | strip_newlines | truncatewords: 64, '...' }}
              <small><a href="{{ post.url | prepend: site.baseurl }}">Continue lendo</a></small>
            </p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  </div>

</section>

{% include sidebar.html %}